//SERVICES
// .services{
// 	@include transition(.3s);
// 	.icon{
// 		line-height: 1.3;
// 		position: relative;
// 		span{
// 			font-size:60px;
// 			color: $primary;
// 		}
// 	}
// 	.media-body{
// 		h3{
// 			font-size: 18px;
// 			font-weight: 500;
// 		}
// 	}
// }
.services-1 {
  margin-bottom: 40px;
  padding: 2em;
  background: rgba(253, 71, 102, 0.62);
  width: 100%;
  -webkit-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);

  .icon {
    display: block;
    margin-bottom: 30px;

    i {
      font-size: 60px;
      line-height: 1.0;
      color: #fd4766;
    }
  }

  .desc {
    h3 {
      line-height: 1.3;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
      position: relative;
      color: black;

      &:after {
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        content: '';
        width: 30px;
        height: 1px;
        background: #fd4766;
        margin: 0 auto;
      }

      a {
        color: black;
      }
    }

    h4 {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 18px;
    }

    span {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 10px;
      color: #fd4766;
    }
  }

  &:hover {
    background: #fd4766;

    .icon {
      i {
        color: black;
      }
    }

    h3 {
      color: black;

      &:after {
        background: black;
      }
    }
  }
}


// SKILLS

.progress-wrap {
  width: 100%;
  margin-bottom: 30px;

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;

  }
}

//PROGRESS BAR
.progress {
  height: 10px;
  box-shadow: none;
  background: lighten(black, 10%);
  overflow: visible;
}

.progress-bar {
  background: #fd4766;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: rgba(0, 0, 0, .2);
  font-weight: 600;
  position: relative;
  overflow: visible;
  border-radius: 2px;

  &:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 34px;
    height: 34px;
    content: '';
    background: #fd4766;
    border-radius: 2px;
    opacity: 0;
  }

  span {
    position: absolute;
    top: -38px;
    right: 0;
    font-size: 20px;
    font-weight: 400;
    color: black;
  }
}

.my-skills {
  font-size: 44px;
}


.youtube {
  margin-top: 50px;

  .title {
    font-size: 44px;
    text-align: center;
    margin: 16px 0;
  }

  .youtube-content {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .youtube-item {
      margin-top: 12px;
      width: 32%;
      height: 250px;
      @media screen and (max-width: 991px) {
        width: 49%;
        height: 200px;
      }
      @media screen and (max-width: 567px) {
        width: 100%;
        height: 250px;
      }

      .youtube-item_vid {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//FOOTER


.ftco-footer {
  font-size: 16px;
  background: white;
  padding: 7em 0;
  z-index: 0;

  .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  .ftco-footer-widget {
    h2 {
      font-weight: normal;
      color: black;
      margin-bottom: 40px;
      font-size: 22px;
      font-weight: 600;
    }

    ul {
      li {
        margin-bottom: 10px;

        a {
          color: rgba(black, .6);

          span {
            // color: $white;
            color: rgba(black, .6);
          }
        }
      }
    }

    .btn-primary {
      background: black !important;
      border: 2px solid black !important;

      &:hover {
        background: black;
        border: 2px solid black !important;
      }
    }
  }

  p {
    color: rgba(black, .7);
  }

  a {
    color: rgba(black, .7);

    &:hover {
      color: black;
    }
  }

  .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: black;
  }
}


.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;

    a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba(black, .1);
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        color: black;
      }
    }
  }
}

.footer-small-nav {
  > li {
    display: inline-block;

    a {
      margin: 0 10px 10px 0;

      &:hover, &:focus {
        color: #fd4766;
      }
    }
  }
}


.header-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-btn {
  @media screen and (max-width: 767px) {
    padding: 8px 16px;
  }
}

.heroImg {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.content {
  .content-items {
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .title {

    }

    h1 {
      @media screen and (max-width: 767px) {
        font-size: 44px;
        line-height: 50px;
      }
    }

    p {

    }

    a {
      padding: 12px 18px;
    }
  }
}

.nav1 {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.blog_content{
  display: flex;
  flex-wrap: wrap;
  .blog_card{
    @media screen and (max-width: 991px){
      width: 32%;
      margin-top: 12px;
      height: 200px;
    }
    @media screen and (max-width: 767px){
      width: 49%;
      margin-top: 12px;
      height: 200px;
    }
    @media screen and (max-width: 567px){
      width: 100%;
      margin-top: 12px;
      height: 250px;
    }
  }
}