.hero {
  position: relative;
  height: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .heroTitle {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 40px;
    }
    @media screen and (max-width: 575px) {
      font-size: 32px;
    }
  }

  .heroDesc {
    font-size: 18px;
    color: #fff;
    line-height: 1.8;
    text-align: center;
  }
}