.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: .2px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }

  .all_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .2px;
    color: #f46d6d;
    text-decoration: none;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
}