.news {
  margin-top: 50px;
  margin-bottom: 70px;

  .news_content {
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
    flex-wrap: wrap;
    margin-top: 32px;
    @media screen and (max-width: 767px) {
      column-gap: 0;
    }

    .newsItem {
      width: 32%;
      height: 550px;
      margin-top: 32px;
      border-radius: 12px;
      border: 1px solid #e1dfdf;

      &:hover {
        box-shadow: 0 2px 15px #cecbcb;
      }

      @media screen and (max-width: 991px) {
        width: 48%;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
